@page "/"


<h1>Obrestad Hytteutleie</h1>


Obrestad hytteutleige er eit samarbeidsprosjekt mellom tre naboar på Obrestad. Me kan tilby kan tilby 6 hytter i det opne  jærlandskapet,   - under ein mektig himmel og med storhavet som næraste nabo.


<br>"Her susar vinden dag og natt. Og gråveret ligg lågt yvi  viddi, der haren rømer frå stein til stein og allslags brun og spettut og vill  fugl ligg i løynde reir og blinkar og blundar." (Frå "Fred" av Arne Garborg)

<br>Her kan du få oppleva Jæren sin flotte og mektige natur, der vinden er kjenneteiknet. Naturopplevingar finn du like ved, og de kan få oppleva alt Jæren har å by på.


<br><Counter IncrementAmount="1" />

<br><img src="images/brekkebua.jpg" alt="Brekkebua"  width="450"/>

<br><iframe width="560" height="315" src="https://www.youtube.com/embed/PZu3iD8brOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>





